{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row main-content" style="background:lightgreen;"><!-- Main Content -->
  <div class="large-12 columns">
    <div class="row band3"><!-- 8Row -->
        <h3 style="color:#fff;"><b> MESSAGES</b></h3>
            <script language="javascript" type="text/javascript" src="{% static 'js/validations.js' %}"></script>
            <script language="javascript" type="text/javascript"></script>
              {% for x in all_sms %}
              <div class="large-6 columns">
                  <div class="card" style="width 18rem">
                      <img src="/media/{{x.img_pst}}" class="card-img-top" alt="{{x.Theme}}">
                      <h6 class="card-title"><b>{{x.Theme}} - {{x.Theme_reference}}</b></h6>
                      <h3 style="color:gold;" class="icon-calendar" ><b>  {{x.d}}{{x.sup}} of {{x.m}} {{x.y}}</b></h3>
                      <h5>{{x.bible}}</h5>
                      <p class="card-text" align="justify">{{ x.message | slice:":200" |safe  }}</p>
                     <button style="background-color:blue;"> <a   href="{% url 'b:detail' x.id %}">READ MORE ==> </a></button>
                  </div>
              </div>
              {% endfor %}
          <br>
        </div>
    </div>
  </div>
</div>


{% endblock content %}
