{% load static %}

<div class="large-12 columns"><!-- Column 12 -->
        <div class="large-3 columns">
            <div class="col-hover">
				<div class="view view-four">
                    <img src="{% static 'img/5.jpg' %}"/>
                    <div class="mask">
						<h3><b>LIVE </b>-  Radio Station</h3>
						<p class="fontsforweb_fontid_9785">DOMI - 24/7 ONLINE RADIO STATION</p>
                        <span class="icon-box icon-signal icon-3x"></span>
                  	</div>
                </div>
          		<p style="padding-top:2em; font-family: san serif;" align="justify"> The Ministry digital radio station, dedicated primarily to promoting the good news of the kingdom of our Lord Jesus Christ and the preaching of the Word of Faith.</p>
          		<a class="button success medium radius" href="#"><span class="icon-chevron-right"></span>Click & Listen Online...</a>
            </div>
            </div>
        	<div class="large-3 columns">
            <div class="col-hover">
				<div class="view view-four">
                    <img src="{% static 'img/5.jpg' %}"/>
                    <div class="mask">
						<h3>Training Mandate</h3>
						<p class="fontsforweb_fontid_9785">Excellence in leadership, ministry, more...</p>
						<span class="icon-box icon-book icon-3x"></span>
                  	</div>
                </div>
          		<p style="padding-top:2em; font-family: san serif;" align="justify">The Word of Faith Bible Institute (WOFBI) is a ministry / leadership training center,
                    which serves as the training arm of the Living Faith Church; schooling men and women to exploits.</p>
          		<a class="button success medium radius" href="{% url 'b:wofbi' %}">
                    <span class="icon-chevron-right"></span>Click for More Details
                </a>
        	</div>
            </div>

        	<div class="large-3 columns">
            <div class="col-hover">
				<div class="view view-four">
                    <img src="{% static 'img/5.jpg' %}"/>
                    <div class="mask">
						<h3>Ministry Resources </h3>
						<p class="fontsforweb_fontid_9785">Resources to empower your Faith...</p>
						<span class="icon-box icon-folder-open icon-3x"></span>
                  	</div>
                </div>
          		<p style="padding-top:2em; font-family: san serif;" align="justify">Signs and Wonders Today, Prophetic Focus, Operation Andrew 2014, Project 2022, Project 2023, Project 1920, Operation Andrew 2014... for your personal growth.</p>
          		<a class="button success medium radius" href="{% url 'b:pdf' %}"><span class="icon-chevron-right"></span>Go to Download Page</a>
        	</div>
            </div>

        	<div class="large-3 columns">
            <div class="col-hover">
				<div class="view view-four">
                    <img src="{% static 'img/5.jpg' %}"/>
                    <div class="mask">
						<h3>Our 12 Pillars of Faith</h3>
						<p class="fontsforweb_fontid_9785">Crossing Jordan, bearing the ark...</p>
						<span class="icon-box icon-bar-chart icon-3x"></span>
                  	</div>
                </div>
          		<p style="padding-top:2em; font-family: san serif;" align="justify">By the help of the Holy Ghost, our visioner has classified the Word of Faith God has committed into his hands into the specific areas of emphasis, according to Is.40:6...</p>
          		<a class="button success medium radius" href="{% url 'b:faith' %}"><span class="icon-chevron-right"></span>Discover to Recover!!!</a>
        	</div>
            </div>

		</div>

	</div><!--