{% extends 'base.html' %}


{% load static %}
{% block content %}
<title>ABOUT US</title>

        <div class="row main-content" ><!-- Main Content -->
          <div class="large-12 columns">
            <div class="row"><!-- Row -->

              <div class="large-8 columns"> <br/>
                <article class="post">
                  <div class="post_img">
                    <div class="orbit-container"><!-- Orbit Container -->
                      <img src="{% static 'img/banners/7.jpg' %}">
                    </div>
                    <!-- End Orbit Container -->
                  </div>
                  <h3 align="center">Winners Chapel International Total Garden Ibadan - About Us</h3>

                  <p class="fontsforweb_fontid_9785" style="font-size: 13px;">Winners Chapel International  Total Garden Ibadan is a living proof of the faithfulness of God, the validity of the liberation mandate and the spirit of God at work in this commission.
        <br/><br/>
        Established on January 16, 2011, following the church planting mandate, the church was inaugurated at the basement of The School of Nursing University College Hospital Ibadan . The dedication of the church was graced by the presence of the
                      Pioneer Pastor; <br> Pastor Foye Olatunde and the Associate Pastors; Pastor Blessed Adeyemi,  Pastor Sylvester Ogbode with 45 Members in attendance</p>


                  <p class="fontsforweb_fontid_9785" style="font-size: 13px;">In the space of less than two years, the spirit of God by Himself has been drawing multitudes to the church. This supernatural growth has led the church to moving to Mokola in August 2013 at Bepo Institute Building and we had our First Service in present Permanent site  on the 26th of July 2015.
                      <br> Our Covenant name is The <strong>GARDEN OF POSSIBILITIES</strong></p>

                  <p class="fontsforweb_fontid_9785" style="font-size: 13px;">Humbling testimonies, healing, deliverance, changed lives, restorations and supernatural intervention in the lives of our members has validated Winners Chapel International Total Garden as a mountain where the glory of God is released with undeniable proofs, a factory of good reports, a school of Exploits and the church where the undiluted word of faith is divinely backed up with signs and wonders.</p>

                  <p class="fontsforweb_fontid_9785" style="font-size: 13px;">In the past couple of years, the lord has launched us into new chapters. With diverse testimonies of changed lives and the undeniable presence of God in our midst, the membership strength has multiplied and presently, we run two separate services on Sundays.<br/> <br/>  To God alone be all the glory</p>
                 <br/>   <hr />
                </article>
              </div>


        <br/>
          <div class="large-4 columns">



                                <div class="clearfix"></div>
                            <!-- End Panel -->

                        <!--	        <img src="../images/wci-personalized.png" width="395" usemap="#Map"/>
                            <map name="Map">
                              <area shape="rect" coords="3,7,389,226" href="../this-year/" target="_parent">
                            </map>
        <br/>
                            <br/>-->

        {% block unit %} {% include 'b/unit.html' %}  {% endblock unit %}
                        </div><!-- End Row -->

                </div>

            </div>
  <!-- End Main Content -->

  <!-- End Special Row -->
{% endblock content %}