<div class="row main-navigation">
  <div class="large-12 columns">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span> </span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown"><a class="active" href="/">Home</a>
            <ul class="dropdown">
            <li><a class="active" href="/"> &laquo; Back to Home Page </a></li>
             <li><a href="{% url 'b:pd' %}">From the Pastor's Desk</a></li>
              <li><a href="{% url 'b:pray' %}">Send Prayer Request</a></li>
              <li><a href="{% url 'b:counsel' %}">Pastoral Counselling</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Welcome</a>
            <ul class="dropdown">
              <li><a href="{% url 'b:about' %}">About Us</a></li>
              <li><a href="{% url 'b:this-year' %}">2021 Declarations</a></li>
               <li><a href="{% url 'b:invite' %}">Invite a Friend</a></li>
              <!-- <li><a href="">Rescue Lines</a></li>-->
               <li><a href="{% url 'b:testimony' %}" >Testimonies</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Mandate</a>
            <ul class="dropdown">
              <li><a href="{% url 'b:wofbi' %}">Teaching Mandate</a></li>
              <li><a href="{% url 'b:book' %}">Publishing Mandate</a></li>
              <li><a href="{% url 'b:faith' %}">Our Pillars Of Faith</a></li>
                <li><a href="{% url 'b:church-growth' %}">Our Church Growth Mandate</a></li>
            </ul>
          </li>
             <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Service Groups</a>
              <ul class="dropdown">
                <li class="has-dropdown"><a href="#">More Service Groups</a>
                  <ul class="dropdown">
                    <li><a href="technical/index.html">Technical | Media | IT</a></li>
                    <li><a href="protocol/index.html">Protocol | Ushering</a></li>
                    <li><a href="sanctuary/index.html">Sanctuary Keepers</a></li>
                    <li><a href="transportation/index.html">Transportation Unit</a></li>
                    <li><a href="harvesters_squad/index.html">Harvesters' Squad</a></li>
                    <li><a href="medical_team/index.html">The Medical Team</a></li>
                    <li><a href="drama/index.html">The Drama Team</a></li>
                  </ul>
                </li>
                <li><a href="choir/index.html">Choir | Praise Team</a></li>
              <li><a href="security/index.html">Security | CCU | TCU</a></li>
              <li><a href="decoration/index.html">Decoration Unit</a></li>
              <li><a href="kiddies/index.html">Children's Church</a></li>
              <li><a href="prayerForce/index.html">The Prayer Force</a></li>
              <li><a href="hospitality/index.html">Hospitality Unit</a></li>
              </ul>
            </li>
         <li class="divider"></li>
          <li class="has-dropdown"><a href="#">News</a>
            <ul class="dropdown">
              <li class="has-dropdown"><a href="#">Announcements</a>
                <ul class="dropdown">
                     <!-- <li><a href="../prophetic-focus/">Prophetic Focus</a></li>-->
                     <!-- <li><a href="../prophetic-focus/">Prophetic Focus</a></li>-->
                      <li><a href="prophetic-focus/index.html">Prophetic Focus</a></li>
                      <li><a href="sunday/index.html">Next Sunday Service</a></li>
                      <li><a href="communion/index.html">Wed. Communion Service</a></li>
                </ul>
              </li>

              <li><a href="wsf/index.html">W. S. Fellowship</a></li>
              <li><a href="wofbi/index.html">W. O. F. B. I.</a> </li>

            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Media</a>
            <ul class="dropdown">
                 <li><a href="live/index.html">Live Streaming</a></li>
                 <li><a href="domi-media/index.html">Domi Radio Online </a></li>
                 <li><a href="gallery/index.html">Church Photo Gallery</a></li>
            </ul>
          </li>
            <li class="divider"></li>
          <li><a href="giving/index.html">Give Online</a></li>
          <li class="divider"></li>
          <li><a href="contactus/index.html">Contact Us</a></li>