{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>MID-WEEK COMMUNION SERVICE | Winners Chapel International - Total Garden | winnerschapeltg.org</title>
<div class="row main-content">
<!-- Main Content -->
<div class="large-12 columns">
<div class="row band3">
<!-- Row -->
<div style="padding:1%;" class="large-12 columns">
  <article class="post2" style="width:auto; color:#000000; padding:1 20px 0 20px;">
    <div class="post_img"  style="width:auto;">
      <div class="orbit-container"><!-- Orbit Container -->
        <img src="{% static 'img/28.jpg' %}"> </div>
      <!-- End Orbit Container -->
    </div>
    <h3 align="center" style="color:#000; font-weight:bolder;">Wednesday Communion Service: Come &amp; Partake of the Lord's Table</h3>
    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;">
As a Commission, we share in the Lord's body in a Holy communion every Wednesday evening. <BR/>
Join us every Wednesday for the midweek service from 5:00pm - 7:00pm.<br/>
Come fasting as we will be breaking our fast with the communion in the church service.
<br/>
JESUS IS LORD.</p>
<h3 style="color:#000; font-weight:bolder;">The Holy Communion:
     <font style="color:#f00; font-weight:normal;">Why do we observe Communion?</font></h3>
    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;">We observe Communion because the Lord told us to. We are to obey His commands:
And when he had given thanks, he broke it and said, <br/>"This is my body, which is for you; do this in remembrance of me." <b>1 Corinthians 11:24</b> (NIV) </p>
    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;"> In observing Communion we are remembering Christ and all that He has done for us in his life, death and resurrection: And when he had given thanks,<br/> he broke it and said, "This is my body, which is for you; do this in remembrance of me." <b>1 Corinthians 11:24</b> (NIV)</p>

    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;"> When observing Communion we take time to examine ourselves:<br/>
A man ought to examine himself before he eats of the bread and drinks of the cup. <b>1 Corinthians 11:28</b> (NIV)</p>

    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;">In observing Communion we are proclaiming His death until He comes. It is, then, a statement of faith:<br/>
For whenever you eat this bread and drink this cup, you proclaim the Lord's death until he comes. <b>1 Corinthians 11:26 </b>(NIV)
 </p>

    <p align="justify" class="post_text" style="font-family:century gothic; font-size: 14px; padding-left:30px;">When we observe Communion we show our participation in the body of Christ. His life becomes our life and we become members of each other:<br/>
Is not the cup of thanksgiving for which we give thanks a participation in the blood of Christ? And is not the bread that we break a participation in the body <br/>of Christ? Because there is one loaf, we, who are many, are one body, for we all partake of the one loaf. <b>1 Corinthians 10:16-17</b> (NIV)
 </p>
 <br/>

    <hr />

    <h3 style="color:#000; font-weight:normal;">Scriptural Backings for the Holy Communion:</h3>
    <div  align="justify"  style="padding:25px;">
    <i style="font-family:times new roman; font-size:14px;">While they were eating, Jesus took bread, gave thanks and broke it, and gave it to his disciples, saying, "Take and eat; this is my body." Then he took the cup, gave thanks and offered it to them, saying, "Drink from it, all of you. This is my blood of the covenant, which is poured out for many for the forgiveness of sins." <b>Matthew 26:26-28</b> (NIV)</i>
 <br clear="all">
 <br/>
     <i style="font-family:times new roman; font-size:14px;">While they were eating, Jesus took bread, gave thanks and broke it, and gave it to his disciples, saying, "Take it; this is my body." Then he took the cup, gave thanks and offered it to them, and they all drank from it. "This is my blood of the covenant, which is poured out for many." <b>Mark 14:22-24</b> (NIV)</i>
  <br clear="all">
 <br/>
    <i style="font-family:times new roman; font-size:14px;">And he took bread, gave thanks and broke it, and gave it to them, saying, "This is my body given for you; do this in remembrance of me." In the same way, after the supper he took the cup, saying, "This cup is the new covenant in my blood, which is poured out for you." <b>Luke 22:19-20</b> (NIV)</i>
   <br clear="all">
 <br/>
      <i style="font-family:times new roman; font-size:14px;"> Is not the cup of thanksgiving for which we give thanks a participation in the blood of Christ? And is not the bread that we break a participation in the body of Christ? Because there is one loaf, we, who are many, are one body, for we all partake of the one loaf. <b> 1 Corinthians 10:16-17 </b>(NIV)
</i>
 <br clear="all">
 <br/><i style="font-family:times new roman; font-size:14px;">And when he had given thanks, he broke it and said, "This is my body, which is for you; do this in remembrance of me." In the same way, after supper he took the cup, saying, "This cup is the new covenant in my blood; do this, whenever you drink it, in remembrance of me." For whenever you eat this bread and drink this cup, you proclaim the Lord's death until he comes. <b>1 Corinthians 11:24-26</b> (NIV)
</i>
<br clear="all">
 <br/>
<i style="font-family:times new roman; font-size:14px;">Jesus said to them, "I tell you the truth, unless you eat the flesh of the Son of Man and drink his blood, you have no life in you. Whoever eats my flesh and drinks my blood has eternal life, and I will raise him up at the last day." <b>John 6:53-54</b> (NIV)
</i>

</div>





 </article>
</div>
<br clear="all">
<br>
     {% block abc %} {% include 'b/abc.html' %} {% endblock abc %}


{% endblock content %}


