{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row main-content">
  <div class="large-12 columns">
    <h3><b style="color:#fff">{{category.title}}</b></h3>
      {% for sms in all_news %}
        <div>
          <img src="/media/{{sms.img}}" alt="{{sms.title}}" class="card-img">
        </div>
        <div class="large-8 columns">
          <div class="card-body">
            <h6 class="card-title"><b style="color:gold">{{sms.title}}</b></h6>
            <p class="card-text">{{ sms.details|safe }}</p>
            <p class="card-text"><a href="{% url 'b:detail' sms.id %}" class="btn btn-primary col-12" style="float41632:right">READ MORE</a></p>
          </div>
        </div>

      {% endfor %}
  </div>
</div>




{% endblock content %}