{% extends 'base.html' %}


{% load static %}
{% block content %}
<title>PROPHETIC FOCUS  | BISHOP DAVID OYEDEPO - PRESIDING BISHOP, Winners Chapel Worldwide</title>

<div class="row band3"><!-- Row -->
	<div class="large-12 columns">

		<div class="large-3 columns">
			<ul class="pricing-table">
				<li><img src="{% static 'img/domi-bks-header.png' %}"></li>
				<li class="title" style="font-weight:bolder;">DOMI BOOKS</li>
					<li class="bullet-item" style="padding:20px;">
						<h4 align="center" style="color:#000; font-weight:bolder; font-size:16px; padding-bottom:10px; font-family:gothic;">
							Same Word, Same Unction!</h4>
						<br/>
						<font style="font-family:gothic;">
							The Spirit of God said to me: The Word I have put into your mouth, the same commit to writing and I will cause the unction on the spoken word to rest upon the written word.
						</font>
					</li>
						<li style="text-align:center; color:#312C2C"> -  Bishop David O. Oyedepo</li>
				<li class="cta-button"><a target="_blank" rel="nofollow" class="button success radius medium" href="http://domionlinestore.org/"><span class="icon-chevron-right"></span> Visit   Bookstore</a></li>
			</ul>
		</div>

		<div class="large-6 columns">
			<ul class="pricing-table">
				<div align="center">
					<li style="padding-top:2%;">

					  <p>

							<img alt="" src="{% static 'img/domi_radio.jpg' %}" style="width: 510px; height: 195px;"><br><audio controls src="http://radio.shoutcastmedia.net:8302/;" style="width:100%; height:10">&nbsp;</audio>
					  </p>
					</li>
				</div>
				<li class="title" style="font-weight:bolder;">DOMI - <b>LIVE DIGITAL</b>  Radio Station</li>
				<li class="bullet-item" style="padding:20px;">

					<font style=" text-align:justify; font-size:14px; font-family:gothic; padding:20px 20px 20px 0;">
						This is the Ministry digital radio station, dedicated primarily to promoting the good news of the kingdom of our Lord Jesus Christ and the preaching of the Word of Faith.
						<br/><br/>
				    	On May 2, 1981, at the end of a visionary encounter that lasted about eighteen hours, the presiding bisgop of this commision received a mandate to reach out to humanity through the teaching of the word of faith.  Today, testimonies of liberation through our messages, books, tapes, magazines and other periodicals are most humbling. The word of faith is working like fire for the liberation of mankind across the nations.

						With an outstanding connections of over 2,000,000 (Two Million Hits) in the past two years,  God has been confirming His words with signs and wonders following. Diverse testimonies has been recorded within this short period. The same way God is confirming His words with speed in this commission, He will perform all that concerns you with speed in Jesus' name!
				    </font>
				</li>

			</ul>
		</div>

		<div class="large-3 columns">
			<ul class="pricing-table">

				<li>
					<img src="{% static 'img/domi-schools.png' %}">
				</li>
				<li class="title" style="font-weight:bolder;">EDUCATION</li>
					<li class="bullet-item" style="padding:20px;">
						<h4 align="center" style="color:#000; font-weight:bolder; font-size:16px; padding-bottom:10px; font-family:gothic;">
						Revolutionizing Education!!!</h4> <br/>
						<font style="font-family:gothic;">
							Covenant University<br/>
							Landmark University<br/>
							Faith Academy Secondary Schools<br/>
							Kingdom Heritage Schools<br/><br/>
				   			<b style="float:right;">. . . and raising World Changers!</b>
						</font>
					</li>
				<li class="cta-button"><a class="button success radius medium" href="../contactus/index.html"><span class="icon-chevron-right"></span>Request Info!</a></li>
			</ul>
		</div>
		<!-- End Pricing Tables -->
	</div>
</div><!-- End Row -->

<div  class="row band3">
	{% block abc %} {% include 'b/abc.html' %} {% endblock abc %}
</div><!-- End Row -->


{% endblock content %}
