{% extends 'base.html' %}


{% load static %}
{% block content %}
<title>CHURCH GROWTH | Winners Chapel International - Total Garden | winnerschapeltg.org</title>
<div class="row main-content">
<!-- Main Content -->
<div class="large-12 columns">
<div class="row bandblack">
<!-- Row -->
<div style="padding:1%;" class="large-12 columns">
  <article align="justify" class="post2" style="width:auto; color:#000000; padding:1 20px 0 20px;">
    <div class="post_img"  style="width:auto;">
      <div class="orbit-container"><!-- Orbit Container -->
        <img src="{% static 'img/banners/church-growth.jpg' %}">
      </div>
      <!-- End Orbit Container -->
    </div>
    <h3 align="center" style="color:#000; font-weight:normal;"><b>OUR CHURCH GROWTH MANDATE</b></h3>
    <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 15px;padding-left:40px;">
    The Church of Christ is ordained for continuous and unending growth. As it is written,  "<i style="font-family:times new roman;">I will build my church; and the gates of hell shall not prevail against it</i>", that is, the gates of hell shall not be to stop it from advancing / growing until the end of time.<strong>Matt. 16:18 / Prov. 4:18.</strong><br>
      <strong><br>
      </strong>However, it is by wisdom that a house is built and by understanding it is established.<strong>Pro 24:3-4.</strong><br>
      Therefore wisdom is key to sustaining the growth of the Church as indicated severally in the early church. Divinely inspired strategies are crucial to sustaining church growth.<br>
  <br/>
  As it is written, <i style="font-family:times new roman;">"And as they went through the cities, they delivered them the decrees for to keep, that were ordained of the apostles and elders which were at Jerusalem. And so were the churches established in the faith, and increased in number daily."</i><strong>Acts 16:4-5.</strong><br>
  From the above scripture, we see the amazing effect of the Church Growth Policy of the early church "and so were the churches established in the faith and increased in number daily &rdquo; It is obvious from the outcome that the decrees referred to were Church Growth Decrees. They reasoned out well defined strategies in the Holy Ghost and the church continued to erupt in growth.<br>
  <br>
  <strong>In the light of the above, our church growth mandate as a Commission is built on the following scriptural pillars</strong>:<br>
</p>

<h3 style="color:#000;"><strong>PREAMBLE</strong></h3>
    <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 15px; padding-left:50px;">
    <ol type="1" style="font-size: 15px; padding-left:40px; font-family:gothic; ">
          <li>We believe that soul winning is a Divine Mandate for all believers and it is most profitable to personally engage in it -<strong>John15:1-2/John 4:35-36</strong></li>
         <li>We believe that every member of the body of Christ has a part to play in the growth of the local church -<strong>Eph. 4:16</strong></li>
         <li>We believe that passion for souls is what stirs the zeal for soul winning <strong>Rom. 9:1-3</strong></li>
         <li>We believe that a godly lifestyle is a requirement for effective soul winning -<strong>John 15:1-4.</strong></li>
         <li>We believe that God is glorified when we bear much fruit and most profitably when our fruits abide -<strong>John 15:8/16</strong></li>
         <li>We believe that God expects us to bear fruit annually, that is, making Yearly returns on harvest of souls –<strong>Luke 13:6-9</strong></li>
         <li>We believe that multitudes are still in the 'Valley of Decision' around every believer, longing for rescue –<strong>Joel 3:14</strong></li>
         <li>We believe that the field is white unto harvest all around us. - <strong>John 4:34-35</strong></li>
        <li>We believe that the breakthrough testimonies of the saints is a vital force for drawing multitudes into the kingdom -<strong>Zech. 8:20-23</strong></li>


<br/>

<h3 style="color:#000;"><strong>THE HOLY GHOST FACTOR</strong></h3>

     <li> We believe that the Holy Ghost is the Lord of the harvest -<strong>Matt. 9:36- 38/ Acts 2:1-3/ 37-41/ Acts 4:4/ Acts 5:14/ Acts 6:1-7/ Acts 13:44</strong></li>
     <li> We believe that the "wind from the Lord which is the Holy Spirit is still in the business of drafting multitudes into the kingdom today. <strong>Num. 11:31</strong></li>
     <li> We believe that when the Holy Spirit hisses, men shall come with speed swiftly -<strong>Is. 5:26</strong></li>
     <li> We believe that the Holy Spirit is the one that convicts sinners unto repentance -<strong>John 16:9-11 / Acts 2:37</strong></li>
     <li> We believe that we must engage the ministry of the Holy Spirit through prayers for salvation of souls –<strong>Acts 2:37-38</strong></li>
     <li> We believe that we must engage in prayers for the Holy Ghost to give us utterance towards effective soul winning -<strong>Matt. 10:19-20 / Col.4:2-4.</strong></li>
     <li> We believe that the Holy Spirit can destroy all hindrances standing against the salvation of any soul we reach out to -<strong>Isa. 59:19 / Acts 13:9-1.2</strong></li>
     <li> We believe in the ministry of signs and wonders in drawing multitudes to Christ –<strong>John 4:48 / Acts 9:31-35</strong></li>


<br/>
      <h3 style="color:#000;"><strong>THE PRAYER-REACH FACTOR</strong></h3>
     <li> We believe in the Prayer-Reach principle that is, praying to harvest the souls of the lost for Christ.
      -<strong>Ps. 2:8 / Ezek. 36:37</strong> </li>
     <li> We believe that praying for the salvation of souls is every believer's responsibility with attendant benefits. -<strong>John 15:16 / John 4:35:36 / Eph. 6:8</strong></li>
     <li> We believe that going through the labour room of prayer is a requirement for birthing souls into the kingdom -<strong>ls. 66:7-8 / Gal. 4:19</strong></li>
     <li> We believe in prayer and fasting as a vital spiritual force for boosting church growth -<strong>Matt. 16:18 /Matt. 17:21</strong>.</li>
     <li> We believe that when we pray according to God's will He hears and answers us –<strong>1 Jn 5:14</strong></li>
     <li> We believe that prayer is a spiritual force by which souIs get saved. -<strong>Gal. 4:19</strong></li>
     <li> We believe in targeting specific individuals and families in prayers for the salvation of their souls. -<strong>Acts 16:30-31</strong></li>
     <li> We believe that praying in the Holy Ghost enhances the effectiveness of our prayers for salvation of souls -<strong>Rom. 8:26 / Jude 20</strong></li>
     <li> We believe that praying for the lost, commits God&rsquo;s integrity to save them because it is His will that all men should be saved -<strong>Ps. 89:34 / 2 Peter 3:9</strong></li>
     <li> We believe that prayer and intercession is a covenant requirement for explosive church growth -<strong>Ezek. 36:37 / Psa. 2:8</strong></li>
     <li> We believe that praying for breakthroughs one for another is one of the ways to drawing many to Christ-<strong>Eph. 6:18 / Zech. 8:20-23</strong></li>
     <li> We believe that the more we pray for others, the more answers we get to our own prayers -<strong>Matt. 6:5-6 / Col.4:12</strong></li>

      <br/>
     <h3 style="color:#000;"><strong>THE DISCIPLESHIP FACTOR</strong></h3>
      <li>We believe in the Great Commission of our Lord Jesus Christ -<strong>Matt. 28:18-20 / Matt. 24:14</strong> </li>
     <li> We believe that making disciples of men is the most effective way to commanding healthy church growth -<strong>Matt. 28:19-20</strong> </li>
     <li> We believe that when it becomes our "meat to do His will and finish His works" in reaching out to the lost like Christ, discipling men and women for the kingdom will become a way of life –<strong>John 4:31-34</strong></li>
     <li> We believe that every Christian must strive to be an example of believers in order to be effective in discipling men for Christ. -<strong>Tim. 4:12.</strong></li>
     <li> We believe that teaching the principles of scriptures is the most effective way to making disciples of men –<strong>Acts 10:41-44 / Acts 2:41-42</strong></li>
     <li> We believe that no one ever lacks what he shares, we only lack what we keep -<strong>Prov. 11:24-25 / Acts 20:35</strong></li>
     <li>  We believe that the more we sow/share the Word, the more we flow in revelation -<strong>1Peter 1:23 / Gal. 6:7-8</strong></li>
     <li> We believe that every believer owes God at least ONE 'properly discipled' and 'church-planted' soul every year. However, there is no limit to how many souls one can disciple in a year: because, 'he that sows sparingly shall reap sparingly and he that sows bountifully shall also reap bountifully', 'everyone shall be rewarded according to his own labour' -<strong>Luke 13:6-9 / 2Cor. 9:6-7 / 1 Cor.3:8</strong></li>

     <br/>
     <h3 style="color:#000;"><strong>THE ANGELIC MINISTRY FACTOR</strong></h3>
     <li> We believe in the ministry of Angels as reapers of the end time harvest -<strong>Matt.13:39</strong></li>
     <li> We believe that Angels are still involved today in mobilizing men and women for salvation -<strong>Acts 10:1-6</strong></li>
     <li> We believe that we can engage the ministry of Angels for soul winning through prayers -<strong>Matt. 26:52-53</strong></li>

     <br/>
     <h3 style="color:#000;"><strong>THE OUTREACH FACTOR</strong></h3>
     <li> We believe that the body of Christ is in the era of Supernatural Church Growth –<strong>lsa 2:1-3 / Acts 2:1617</strong></li>
     <li> We believe that continuous outreach is a vital tool for sustainable church growth -<strong>Luke 14:17-23 / John 15:16</strong></li>
     <li> We believe in compelling &ldquo;people&rdquo; through prayers and demonstration of love, to come into the kingdom of God -<strong>Jude 23 / Luke 14:23</strong></li>
     <li> We believe in strategic outreaches for effective ingathering of souls into the kingdom -<strong>Prov. 11:30</strong></li>

     <br/>
     <h3 style="color:#000;"><strong>THE ANDREW PRINCIPLE</strong></h3>
     <li> We believe in the 'Andrew Principle' where every believer brings someone to church, and Christ through the power of the word gets such individuals saved -<strong>John 6:37 / Obad. 17</strong></li>
     <li> We believe that engaging the third Sunday of every month as "Operation Andrew Sunday", where every member shall be expected to prayerfully come along with an invitee, especially an unbeliever, a backslidden Christian or a challenged believer that requires divine intervention, shall keep the church on the path of increases and multiplication as in the acts of the apostles -<strong>John 1:35-42 / Acts 6:7.</strong></li>

     <br/>
     <h3 style="color:#000;"><strong>THE PASTORAL LEADERSHIP FACTOR</strong></h3>
     <li> We believe that no local church can experience real growth without the head pastor having a vision and passion for church growth -<strong>John 2:17 / John 4:34</strong></li>
     <li> We believe that the passion for souls of the shepherd will naturally impact on the membership.  –<strong>Hos.4:9</strong></li>
     <li> We believe that every shepherd must pray and trust God win the pursuit of all church growth endeavours-<strong>Eccl. 10:10 / Prov. 21:22.</strong></li>
     <li> We believe that the shepherd must provide effective leadership in driving the church growth agenda of the local church -<strong>Judges 7:17 / Phil. 3:17</strong></li>
     <li> In conclusion, we believe that soul winning is the heart beat of God and it is big time kingdom business -<strong>Luke 2:49 / Matt. 6:33 / John 4:35-36</strong></li>
  </ol>
</p>

 <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 15px; padding-left:30px;">
 In conclusion, we believe that soul winning is the heart beat of God and it is big time kingdom business -<strong>Luke 2:49 / Matt. 6:33 / John 4:35-36</strong><br>
<br>
        We believe that<strong>NO ONE CAN BE FAITHFULLY ON THE GO</strong>for Christ without having<strong>SOMETHING TO SHOW</strong>. <br/>
        The blessings that accrue include the following among others:<br>
<ol style="font-size: 15px; padding-left:40px;">
    <li>Divine Health <strong>Prov. 13:17 / 2Cor. 5:20</strong></li>
    <li>Divine Protection <strong>Lk. 10:19</strong></li>
    <li>Divine Wisdom <strong>Pro 11:30 / Dan 12:3</strong></li>
    <li> Divine Preservation <strong>Lk13:6-9 / Jn. 15:2</strong></li>
    <li>Express answers to prayers <strong>John 15:16</strong></li>
    <li>Supernatural Breakthrough <strong>Lk 5:1-7</strong></li>
    <li>Supernatural Supplies <strong>John 4:36 / Lk. 22:35</strong></li>
    <li>A Crown of Righteousness <strong>2Tim 4:8</strong> etc etc.</li>
</ol>
<br>
<b style="font-family: Monotype Corsiva; font-size: 36.0pt;padding-left:40px;">Jesus is Lord!</b><br>
</p>
    <hr />
  </article>
</div>
</div>
</div>

<br clear="all">
<br>

    {% block abc %} {% include 'b/abc.html' %} {% endblock abc %}
      <!-- End Special Row -->

{% endblock content %}