


<div class="contact-details">
   <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 11px;"><span><i class="icon-home"></i></span>Address:KM 9 QUEEN ELIZABETH ROAD TOTAL GARDEN IBADAN OYO STATE</p>
   <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 14px;"><span><i class="icon-phone"></i></span>Phone: (+234 703 307 4988)</p>
   <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 14px;"><span><i class="icon-envelope"></i></span>E-mail: winnerschapeltotalgarden@gmail.com</p>
</div>