{% extends 'base.html' %}


{% load static %}
{% block content %}



<div class="row showcase"> <img src="{% static 'img/hcs.png' %}" /> </div>
<div class="row main-content"><!-- Main Content -->

  <div class="large-12 columns">
    <div class="row band3"><!-- Row -->

      <div class="large-7 columns">
          <script language="javascript" type="text/javascript" src="{% static 'js/validations.js' %}"></script>

            <h3 align="center"> The Joel Company Membership Application Form   </h3>
          <form method="POST" action="">
              {% csrf_token %}
              <fieldset>
                <legend>Kingdom Service Application Form!</legend>
                <div id="status"></div>
                <div class="contact_form">
                  <div class="row">
                    <div class="small-4 columns">
                      <label style="color:gold">NAME</label>
                      <input type="text" size="30" class="frm_txt_fld"   placeholder="Your Full Name" name="full_name"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">ADDRESS</label>
                      <input type="text" size="30" class="frm_txt_fld"  required placeholder="Your Residential Address" name="residence"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">EMAIL</label>
                      <input type="text" size="30" class="frm_txt_fld"  placeholder="Your Email" required name="email"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">TELEPHONE</label>
                      <input type="text" size="15" class="frm_txt_fld" placeholder="Phone No (999 999 9999)" required name="phone"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">CITY</label>
                      <input name="city" type="text" class="frm_txt_fld" required placeholder="Your City" size="30"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">ARE YOU BORN AGAIN</label>
                       <input type="radio"  name="born_again" value="Yes"/>
                      Yes  &nbsp;
                      <input type="radio" name="born_again" value="No"/>
                      No &nbsp;
                      <br /><br /><br /><br />
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">DATE YOU JOINED THIS CHURCH</label>
                      <input name="joined_date" type="date" class="frm_txt_fld" value="" placeholder="Date I joined this Church" required size="30"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">DATE OF NEW BIRTH</label>
                      <input name="new_birth_date" type="date" class="frm_txt_fld" value="" placeholder="Date of New Birth"  size="30"/>
                      <br />
                    </div>
                    <div class="small-4 columns">
                      <label style="color:gold">OCCUPATION</label>
                      <input name="occupation" type="text" class="frm_txt_fld" value="" placeholder="What is Your Occupation/Position?" required size="30"/>
                      <br />
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div align="justify" class="small-12 columns" ><b style="color:#FFF;">Have you Attended Foundation Class?</b> <font style="color:#FFF; padding-left:5%;">
                      <input type="radio" name="foundation_class" value="Yes"  />
                      Yes  &nbsp;
                      <input type="radio" name="foundation_class" value="No" />
                      No &nbsp;
                     <br/>
                      </font>
                    </div>

                    <div align="justify" class="small-12 columns" ><b style="color:#FFF;">What is your Job Schedule?</b> <font style="color:#FFF; padding-left:5%;">
                      <input type="radio" name="job" value="Day" />
                      Day  &nbsp;
                      <input type="radio" name="job" value="Night"/>
                      Night &nbsp;
                      <input type="radio" name="job" value="Shift" />
                      Shift &nbsp;
                      <input type="radio" name="job" value="Sunday" />
                          Sundays Inclusive &nbsp;
                      <br/></font>
                    </div>

                    <div align="justify" class="small-12 columns"><b style="color:#FFF;">What is your Marital Status?</b> <font style="color:#FFF; padding-left:5%;">
                      <input type="radio" name="status" value="Married"  />
                      Married  &nbsp;
                      <input type="radio" name="status" value="Single"/>
                      Single &nbsp;
                      <input type="radio" name="status" value="Widowed"/>
                      Widowed &nbsp;
                      <input type="radio" name="status" value="Separated"/>
                      Separated &nbsp;
                      <input type="radio" name="status" value="Divorced"/>
                      Divorced &nbsp;
                      <br/></font>
                    </div>

                    <div class="small-12 columns" style="padding-top:5%;">
                      <textarea cols="7" rows="7"  placeholder="Why I want to join the Drama Unit of this Assembly?" name="message" required></textarea>
                      <br />
                    </div>
                    <div class="small-12 columns">
                      <input type="submit" class="button success radius medium" value="Send message" name="send" id="send" />
                      <p  class="fontsforweb_fontid_9785" style="font-size: 15px;">By pressing the <b style="color:red;">Send message Button</b>,
                        you are signing a digital signature, indicating that you are willing to engage yourself in voluntary kingdom service
                        in Winners Chapel International, Total Garden Ibadan, Nigeria, and all Information given are true and verifiable. </p>
                    </div>
                  </div>
                </div>
              </fieldset>
          </form>
      </div>



      <div class="large-5 columns">
        <h3 align="center">Drama Team - Rm.1:10-20; Jer.18:2-6 </h3>
        <p><i style="font-family:times new roman; font-size:16px; color:#E9EF0D;">2 Tim 3:16-17 states, “All Scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness, that the man of God may be complete, thoroughly equipped for every good work”.</i></p>
        <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 13px;"> In line with the above verse of scripture, alongside with the divine mandate of this commission, The Joel Company of this great assembly, propagate the gospel through drama to liberate worshipers from the oppressions of the devil. </p>
        <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 13px;">  The mission of this team is to use theater as a ministry to encourage, instruct, and uplift the body of Christ and in the process,  build up a vibrant and enthusiastic group of young people who are on fire for God.</p>
        <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 13px;"> Members of this department are completely sold-out to God and seek to glorify God through the performance ministry; in a manner that will edify God's people in and phenomenal, unique, and unforgettable way. </p>
        <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 13px;"> Their ministrations are scriptural-based, explore a variety of themes and cover most genres of theater including comedy, poetry, suspense, song and dance. </p>
        <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 13px;"> Membership is strictly by application. If you like drama and theater and/or have a natural flare for it, It's time to pray about joining this minstry. If you thereafter feel that God is leading you to serve Him in this unique ministry, please fill the online form and we will go from there...</p>

             {% block id %} {% include 'b/id.html' %} {% endblock  %}

      </div>
    </div>
  </div>
</div>



{% endblock content %}