{% extends 'base.html' %}


{% load static %}
{% block content %}
<div class="row main-content">
<!-- Main Content -->
<div class="large-12 columns">
<span class="orbit-container"></span>
<div class="row">
  <!-- Row -->
  <div class="large-8 columns"> <br/>
    <article class="post">
      <div class="post_img">
        <div class="orbit-container">
          <!-- Orbit Container -->
        </div>
        <img src="{% static 'img/banners/bishop.jpg' %}"> <!-- End Orbit Container-->
      </div>
      <h3 align="center" style="font-weight:bolder;"> <b style="color:#006;">Week of April 12, 2021</b> </h3>
  <h3 align="center" style="font-weight:bolder;font-weight:bolder; color:#F30; padding: 0 35px;"> <strong> Understanding Kingdom Wealth <br/>and Prosperity (Part 1)
</strong>
    </h3>  <!--  -->
    <blockquote><span> <em style="color:#FF0000; font-family:times new roman">"Let those who favor my righteous cause and have pleasure in my uprightness shout for joy and be glad and say continually, Let the Lord be magnified, Who takes pleasure in the prosperity of His servant."   &nbsp;</strong></font></em> <strong> (Psalm 35:27 ► (AMP))</strong></blockquote>




     <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 14px; padding-left:30px;">Dearly Beloved,
   <br/>Supernatural turnaround greetings to you in the name of Jesus and welcome to again to April 2021: our month of fearful testimonies. Last week, the body of Christ celebrated the resurrection of Jesus - the singular event that sets Christianity apart from every other religion. Jesus' sacrifice on the cross of Calvary secured access to infinite supply for every believer so this month we will be exploring <b>one great gift that was contained in that redemption package</b> in a series titled: <b>Understanding Kingdom Wealth & Prosperity.</b><br />
<br />
Of all the Scriptural themes, none evokes such fierce debate as that of Biblical prosperity. There is also probably no other theological subject that is so misunderstood so I'll like to kick off this series by saying that Kingdom prosperity is the ability to use the power of God to meet any need in the spiritual, mental, physical, financial and social realms. <b>It is having enough of God’s supply to complete His instructions for your life, and enough of His provisions to accomplish commands and expectations.</b><br />
<br />
<b>There is no true prosperity apart from God </b>(Haggai 2:8). Every category of prosperity; whether it is spiritual, temporal, historical, or even dying prosperity has God as its true source. According to Philippians 4:11-13, 17-19, it is the will of God to prosper His people. It is His will to see us joyful, happy, blessed, healthy, and having all of our needs met according to HIS RICHES and HIS GLORY and in this prophetic season, God the Father is pouring into the corporate body of Christ supernatural wealth and prosperity to advance the kingdom of God, to meet the needs of the saints, and to purposefully enjoy unto the praises of His glory!<br />
<br />
Kingdom wealth is part of our covenant benefits and God wants all your needs met abundantly. In His death, Jesus took upon himself all our sins, all our, sickness and disease, all our lack and poverty, and death itself. In their place, He gave us all that was His: life, health and blessing so as I sign off this week, it is my prayer that beginning this week, God will permanently break the curse of poverty in your life, lift your thoughts from lack, limitation and present difficulties; and create for you an opening of abundant supernatural supply in Jesus name. Amen!<br />
<br />
<strong>Let God be true. . .</strong><br />
</p>

      <p align="justify" class="fontsforweb_fontid_9785" style="font-size: 16px; padding: 0 35px;"> <b>Moses Ajayi</b><br/>
      Resident Pastor </p>
      <p align="justify" class="fontsforweb_fontid_9785" style="  font-size: 16px; padding: 0 40px;">


      <table width="100%" border="0">
        <tbody style="border: 0px #fff;">
          <tr>
            <td><img src="{% static 'img/p-desk-subscribe-button.png' %}" alt ="subscribe to our newsletter"/></td>
            <td valign="top" style="font-family:gothic; font-size:13px;"><h4 style="color:#820507; font-weight:bolder;">Do you want to receive the latest posts and exclusive updates from the Pastor's Desk?</h4>
              Subscribe to the WCI Total Garden Ibadan Land of Possibilities Now Updates Now!  &nbsp; <b>Click <a href="https://winnerschapeltoronto.org/subscribe/">here</a> to Subscribe</b></td>
          </tr>
        </tbody>
      </table>
      </p>
      </blockquote>
    </article>

  </div>
    <br/>
  <div class="large-4 columns">
    <div class="clearfix"></div>
    <!-- End Panel -->

    <!--	        <img src="../images/wci-personalized.png" width="395" usemap="#Map"/>
                    <map name="Map">
                      <area shape="rect" coords="3,7,389,226" href="../this-year/" target="_parent">
                    </map>
<br/>
                    <br/>-->

    <style>
.jcarousel-skin-tango .jcarousel-container-vertical {
    height: 409px;
    padding: 5px 10px 15px 30px;
	 font-family: "century gothic";
	 font-size:13px;
	/* color:#000;
	 background: #fff;*/
	 border: solid 1px #cccccc;
    color: #4e4e4e;
    background: #F2F2F2;
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    height: 395px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 147x;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
	 bottom: 5px;
    left: 0px;
    width: 340px;
    height: 14px;
    cursor: pointer;
    background: transparent url(./static/img/down.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 340px;
    height: 14px;
    cursor: pointer;
    background: transparent url(./static/img/up.gif) no-repeat 0 0;
}

.jcarousel-skin-tango a
{
    font-weight:bold;
	text-decoration:none;
}

.jcarousel-skin-tango .ql-img
{
    padding-right: 10px;
    float: left;
    width: 90px;
    height: 68px;
}

.jcarousel-skin-tango li
{
	padding:15px 0 6px 0;
    border-bottom: 1px solid #517da6;
    /*min-height:100px;*/
}

.jcarousel-skin-tango li.last
{
	border-bottom:none;
	padding:10px 0 0 0;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui.html' %}">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.jcarousel.min.js' %}"></script>


  <script type="text/javascript">

      function mycarousel_initCallback(carousel)
      {
      // Disable autoscrolling if the user clicks the prev or next button.
      carousel.buttonNext.bind('click', function() {
      carousel.startAuto(0);
      });

      carousel.buttonPrev.bind('click', function() {
      carousel.startAuto(0);
      });

      // Pause autoscrolling if the user moves with the cursor over the clip.
      carousel.clip.hover(function() {
      carousel.stopAuto();
      }, function() {
      carousel.startAuto();
      });
      };

    jQuery(document).ready(function() {
        jQuery('#qlink-carousel').jcarousel({
            auto: 4,
            wrap: 'circular',
            scroll: 1,
            vertical: true,
            animation: 1200,
            initCallback: mycarousel_initCallback
        });
    });

</script>
    <div style="width:340px">
 <div align="center">
 <img src="{% static 'img/banners/serviceGroupHeader.png' %}" alt="Service Group Header"/></div>

<div class=" jcarousel-skin-tango"><div class="jcarousel-container jcarousel-container-vertical" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-vertical" style="position: relative;"><ul id="qlink-carousel" class="jcarousel jcarousel-list jcarousel-list-vertical" style="overflow: hidden; position: relative; top: -238px; margin: 0px; padding: 0px; left: 0px; height: 814px;">

  <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-1 jcarousel-item-1-vertical" jcarouselindex="1" style="float: left; list-style: none;">
    <img src="{% static 'img/protocol-ic.png' %}" class="ql-img">
    <a href="../protocol/index.html"><b style="font-size:16px;">USHERS | PROTOCOL</b></a><br/>
   This team welcomes worshippers and directs them to their respective seats, maintain order during services and meetings...
  </li>

   <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-2 jcarousel-item-2-vertical" jcarouselindex="2" style="float: left; list-style: none;">
   <img src="{% static 'img/decor.png' %}" class="ql-img">
    <a href="../decoration/index.html"><b style="font-size:16px;">DECORATION UNIT</b></a><br/>
    This is a creative team with individual specialized skills that they bring on board to beatify Gods House...
  </li>

  <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-3 jcarousel-item-3-vertical" jcarouselindex="3" style="float: left; list-style: none;">
    <img src="{% static 'img/kiddies.png' %}" class="ql-img">
     <a href="../kiddies/index.html"><b style="font-size:16px;">CHILDREN'S MINISTRY</b></a> <br/>
         This is a team of a colorful, energetic, entertaining and dynamic children ministers, focused on teaching the word of faith to children.
  </li>

  <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-4 jcarousel-item-4-vertical" jcarouselindex="4" style="float: left; list-style: none;">
     <img src="{% static 'img/hosp.png' %}"class="ql-img">
     <a href="../hospitality/index.html"><b style="font-size:16px;">HOSPITALITY TEAM</b></a> <br/>
         This team give the warm Winners welcome to worshippers, provide adequate Christian care during services...
         </li>

           <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-4 jcarousel-item-4-vertical" jcarouselindex="4" style="float: left; list-style: none;">
     <img src="{% static 'img/drama-ic.png' %}"class="ql-img">
     <a href="../hospitality/index.html"><b style="font-size:16px;">THE JOEL COMPANY</b></a> <br/>
       This team propagate the gospel through drama to liberate worshipers from the oppressions of the devil...
         </li>

           <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-4 jcarousel-item-4-vertical" jcarouselindex="4" style="float: left; list-style: none;">
     <img src="{% static 'img/sanctuary-ic.png' %}"class="ql-img">
     <a href="../sanctuary/index.html"><b style="font-size:16px;">SANCTUARY KEEPERS</b></a> <br/>
           This team  is responsible for maintaining a well organised and orderly use of the Sanctuary before, during and after Services... </li>


 <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-5 jcarousel-item-5-vertical" jcarouselindex="5" style="float: left; list-style: none;">
    <img src="{% static 'img/evangelism.png' %}" class="ql-img">
  <a href="../harvesters_squad/index.html"><b style="font-size:16px;">HARVESTERS' SQUAD</b></a><br/>
          This comprise ardent soul-wiinners who preach and teach the word of God with the utilization of tracts to win souls...
          </li>

   <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-6 jcarousel-item-6-vertical" jcarouselindex="6" style="float: left; list-style: none;">
   <img src="{% static 'img/akam.png' %}"class="ql-img">
  <a href="../prayerForce/index.html"><b style="font-size:16px;">THE PRAYER FORCE</b></a> <br/>
           The prayer team forms a formidable force within the Church for continuous spiritual ...
            </li>

             <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-6 jcarousel-item-6-vertical" jcarouselindex="6" style="float: left; list-style: none;">
   <img src="{% static 'img/choir.png' %}"  class="ql-img">
  <a href="#"><b style="font-size:16px;">CHOIR | PRAISE TEAM</b></a> <br/>
          The choir leads the congregation into the high praises of God and ultimately his presence...
            </li>

             <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-6 jcarousel-item-6-vertical" jcarouselindex="6" style="float: left; list-style: none;">
   <img src="{% static 'img/protocol-ic.png' %}" class="ql-img">
  <a href="../protocol/index.html"><b style="font-size:16px;">USHERS | PROTOCOL</b></a> <br/>
          This team welcomes worshippers and directs them to their respective seats, maintain order during services and meetings...
            </li>

             <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-6 jcarousel-item-6-vertical" jcarouselindex="6" style="float: left; list-style: none;">
   <img src="{% static 'img/medical-ic.png' %}" class="ql-img">
  <a href="../medical_team/index.html"><b style="font-size:16px;">THE MEDICAL TEAM</b></a> <br/>
            Trained and certified medical professionals who are ready to respond to medical emergencies...
            </li>

            <li class="jcarousel-item jcarousel-item-vertical jcarousel-item-6 jcarousel-item-6-vertical" jcarouselindex="6" style="float: left; list-style: none;">
   <img src="{% static 'img/security-ic.png' %}"  class="ql-img">
    <a href="../security/index.html"><b style="font-size:16px;">TCU | SECURITY | CCU</b></a> <br/>
             Responsible for routine protocol duties within the Church premises during services ...</li>

  </ul></div>
  <div class="jcarousel-prev jcarousel-prev-vertical" disabled="false" style="display:
   block;"></div><div class="jcarousel-next jcarousel-next-vertical" disabled="false" style="display: block;">
   </div>

    </div>



<div id="rotator-tooltip" class="img-down" style="paddint-top:55px;"></div>        <br/>
        <br/>

        <iframe width="340" height="215" src="https://www.youtube.com/embed/cgtzzD22fuY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/>
        <br/>


<!--        <a href="https://s05.flagcounter.com/more/9Ot"><img src="https://s05.flagcounter.com/count2/9Ot/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_26/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="website Counter for WCIT" border="0"></a>-->
          <br/>
         <!-- <br/>
         <a href="https://s05.flagcounter.com/more/9Ot"><img src="https://s05.flagcounter.com/count2/9Ot/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_26/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="website Counter for WCIT" border="0"></a> -->
        </div>
    </div>
  </div>
</div>
<!-- End Main Content -->

 <br>

<br clear="all">
<br>
  <!-- End Special Row -->
<meta name="viewport" content="width=device-width" />
<title>Weekly Updates From the Pastor's Desk |  Resident Pastor, Winners Chapel International, </title>



{% endblock content %}