{% load static %}

<hr />
<style>
.rec-book p { color:#000; }
</style>


</div>

<!-- <div class="side-title">
                                SELECT VIDEO OPTION
                                <select class="player-selector form-control">
                                    <option class="low" ref="http://lowvideo.domi.org.ng:4242/domi123/domi_low/embed.html">Low (248k)</option>
                                    <option class="med" ref="http://mediumvideo.domi.org.ng:4242/domi123/domi_low/embed.html">Medium (248k)</option>
                                    <option class="hig" ref="http://162.244.81.165/mystream/player.php?custid=3&id=16&autostart=true">High (512k)</option>
                                    <option class="hd" ref="http://162.244.81.165/mystream/player.php?custid=3&id=22&autostart=true">HD (1200k)</option>
                                    <option class="rad">Radio </option>
                                </select>
                            </div>-->﻿<div class="row aniema"> <h4 align="center" style="font-weight:bolder;"> The 12 Pillars of Our Commission</h4></div>
<br/>
            <div class="list_carousel"><!-- Carousel -->

              <!-- Carousel Navigation -->
              <a id="prev2" class="prev" href="#"><i class="icon-arrow-left"></i></a>
              <a id="next2" class="next" href="#"><i class="icon-arrow-right"></i></a>


              <div class="clearfix"></div>

              <ul id="carousel-type1">

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/praise.png' %}"/>
                    <div class="mask">
						<h3>PRAISE</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...let everything that has breath praise the Lord</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/wisdom.png' %}"/>
                    <div class="mask">
						<h3>WISDOM</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...the God kind of Wisdom (Pro. 4:7)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                     </div>
                    </div>

                </li>

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/prayer.png' %}"/>
                    <div class="mask">
						<h3>PRAYER</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...an invitation to meet with God (Luke 18:1)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/holyspirit.png' %}"/>
                    <div class="mask">
						<h3>THE HOLY SPIRIT</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...He will guide you into all truth: </p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/faith.png' %}"/>
                    <div class="mask">
						<h3>FAITH</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">But without faith it is impossible to please God (Hebrews 11:6)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/consecration.png' %}"/>
                    <div class="mask">
						<h3>CONSECRATION</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...the pure in heart shall see God (Matthew 5:8)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/theword.png' %}"/>
                    <div class="mask">
						<h3>THE WORD</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">God's Word: Living and Active (Heb.4:12)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/supernatural.png' %}"/>
                    <div class="mask">
						<h3>THE SUPERNATURAL</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">Unexplainable, Miraculous, Exceeding the Ordinary...</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/prosperity.png' %}"/>
                    <div class="mask">
						<h3>PROSPERITY</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...that thou mayest prosper and be in health (3 John 1:2)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/success.png' %}"/>
                    <div class="mask">
						<h3>SUCCESS</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...and then thou shalt have good success (Jos.1:8)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                 <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/vision.png' %}"/>
                    <div class="mask">
						<h3>VISION</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">“Write the vision; make it plain (Hab.2:2)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

                <li>

                  <div class="view view-three">
                    <img src="{% static 'img/pillars/healing.png' %}"/>
                    <div class="mask">
						<h3>HEALING</h3>
						<p class="fontsforweb_fontid_9785" style="font-size: 14px;">...arise with healing in His wings (Mal. 4:2)</p>
						<a class="button portfolio btn-icon" href="pillars/index.html"><i class="icon-link icon-large"></i></a>
                    </div>
                  </div>

                </li>

              </ul>

            </div>