{% extends 'base.html' %}


{% load static %}
{% block content %}
<title>STREAMING | Winners Chapel International - Total Garden | winnerschapeltg.org</title>

<div class="row showcase"><img style="background-color: gold ;" src="{% static 'img/win.png' %}"/></div>
<div class="row main-content">

        <br><br><br><br>
        <h6 style="color: green;"> I AM STREAMING PAGE </h6>
        <br><br><br><br>
</div>

{% endblock %}

<div class="large-12 columns">
    <div class="row band3"><!-- Row -->
      <div class="large-7 columns">